<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--

define the bean
-->

<bean name="myFortuneService"
	class="comm.example.springdemo.HappyFortuneService">
</bean>


<!-- Setter Injection -->
<bean name="myBaseballCoach"
	class="comm.example.springdemo.BaseballCoach">
	<property name="myFortuneService" ref= "myFortuneService"/>
</bean>

<!-- Constructor Injection -->
<bean name="myTrackCoach"
	class="comm.example.springdemo.TrackCoach">
	<constructor-arg name="myFortuneService" ref= "myFortuneService"/>
</bean>

</beans>
